{{rumbletalk-reset user}}
{{#if currentUser}}
  {{mount-widget widget="rumbletalk-widget"}}  
  <div><p>NOTE: If you get a blank page or a "This chat-room is for private users only" message, you will need to refresh the page.</p></div>
{{else}}
  <h1>You must be logged in to access chat</h1>
{{/if}}

<script>
  (function(g, v, w, d, s, a, b) {
    w['rumbleTalkMessageQueueName'] = g;
    w[g] = w[g] ||
    function() {
    (w[g].q = w[g].q || []).push(arguments)
    };
    a = d.createElement(s);
    b = d.getElementsByTagName(s)[0];
    a.async = 1;
    a.src = 'https://d1pfint8izqszg.cloudfront.net/api/' + v + '/sdk.js';
    b.parentNode.insertBefore(a, b);
  })('rtmq', 'v1.0.0', window, document, 'script');
</script>
{{rumbletalk-login user}}
